chromadb>=1.5.9
dvc>=3.67.1
dvc-ssh>=4.3.0
fire>=0.7.1
ipykernel>=7.2.0
langchain>=1.3.2
langchain-chroma>=1.1.0
langchain-huggingface>=1.2.2
openai>=2.40.0
pdfminer-six>=20260107
pyyaml>=6.0.3
sentence-transformers>=5.5.1
unstructured[pdf]>=0.22.31
